# Folder view configuration files
*.DS_Store
Desktop.ini
.AppleDouble
.LSOverride


# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache

# Icon must end with two \r
Icon

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdis

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.zip
*.dmg
*.tar
*.gz
*.tgz
*.tar
*.7z
*.iso
*.jar
*.rar

# Logs and databases #
######################
*.log
*.sql
*.sqlite


## Some old stuff
old
Additional-reference-material/hw
cormen_-_introduction_to_algorithms_3rd_edition.pdf

Icon

Icon
Icon
Icon
Icon
Icon
Icon
